.centered-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ECF2FF;
  ; 
}
.login-page {
  width: 600px;
  height: 700px;
  background-color: #ffffff;
  padding: 50px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
  
  .login-page h2 {
    color: #6f42c1;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;;
    color: #999;
    font-size: 1.8rem;
    width:500px;
  }

  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1.0rem;
    width:500px;
    margin-bottom: 20px;
    }
  
  .login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block; 
    margin: auto;
    }

  .login-button button{
    background-color: #775da6;
    /* margin-top:10px; */
    width: 150px; 
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 1.0rem;
    color: #ffffff;
    font-weight: bold;
    display: block;
    border:none;

  }

  .login-button button:hover{
    background-color: #ffffff;
    color: #775da6;
    border: 1px solid #987dca;
  }

  .alternate-login{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block; 
  }
  .create-account-button button {
    background-color: #987dca;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    width: 500px;
    margin-top: 30px;
    color: #ffffff;
    font-size: 1.0rem;
    font-weight: bold;
    border: none; /* Add this to remove any default border */
}

.create-account-button button:hover {
  background-color: #ffffff;
    color: #987dca;
    border: 1px solid #987dca; /* Add this to add border on hover */
}




  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }